.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/bin/
/output/
/logs/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/bin/
/data/irecruitsearch
/.DS_Store
/data/
/.cache-main
/.cache-tests

